<h4 class="m-t-0 p-l-5">{{'Calendar.Editor' | translate}}</h4>

<div class="event-dialog-wrapper">
  <div mat-dialog-content class="p-16 m-0">
    <form class="event-form" fxFlex>
      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100" formGroupName="color">
          <mat-form-field fxFlex>
            <input matInput
                   placeholder="{{'Calendar.ChooseColor' | translate}}"
                   type="color"
                   [(ngModel)]="entity.color!.primary">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field appearance="outline" class="p-r-15 m-r-15">
            <mat-label>{{'Calendar.Title' | translate}}</mat-label>
            <input matInput
                   required
                   maxlength="50"
                   placeholder="{{'Calendar.Title' | translate}}"
                   [(ngModel)]="entity.title"
                   name="title"/>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field appearance="outline" class="p-r-15 m-r-15">
            <mat-label>{{'Calendar.Description' | translate}}</mat-label>
            <textarea
              matInput
              name="description"
              maxlength="255"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              placeholder="{{'Calendar.Description' | translate}}"
              [(ngModel)]="entity.description"
            ></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100">

          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="startDate"
                   placeholder="{{'Calendar.StartDate' | translate}}"
                   (dateChange)="updateDuration()"
                   [formControl]="startDateForm"
                   [min]="calendarConfig.minDate"
                   [max]="calendarConfig.maxDate"
                   [disabled]="!isItemEditable()">
            <mat-datepicker-toggle matSuffix [for]="startDate">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startDate
                                     [showSpinners]="calendarConfig.showSpinners"
                                     [showSeconds]="calendarConfig.showSeconds"
                                     [stepHour]="calendarConfig.stepHour"
                                     [stepMinute]="calendarConfig.stepMinute"
                                     [stepSecond]="calendarConfig.stepSecond"
                                     [touchUi]="calendarConfig.touchUi"
                                     [color]="calendarConfig.color">
            </ngx-mat-datetime-picker>
          </mat-form-field>

          <span fxFlex="16px"></span>

          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="endDate"
                   placeholder="{{'Calendar.EndDate' | translate}}"
                   (dateChange)="updateDuration()"
                   [formControl]="endDateForm"
                   [min]="calendarConfig.minDate"
                   [max]="calendarConfig.maxDate"
                   [disabled]="!isItemEditable()">
            <mat-datepicker-toggle matSuffix [for]="endDate">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endDate
                                     [showSpinners]="calendarConfig.showSpinners"
                                     [showSeconds]="calendarConfig.showSeconds"
                                     [stepHour]="calendarConfig.stepHour" [stepMinute]="calendarConfig.stepMinute"
                                     [stepSecond]="calendarConfig.stepSecond"
                                     [touchUi]="calendarConfig.touchUi"
                                     [color]="calendarConfig.color">
            </ngx-mat-datetime-picker>
          </mat-form-field>

        </div>

        <button
          mat-raised-button
          color="primary"
          aria-label="SAVE"
          (click)="openSaveDialog()"
        >
          {{'Save' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
