<mat-progress-bar mode="indeterminate" value="40" *ngIf="refreshing"></mat-progress-bar>
<div fxLayout="row wrap">

  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="min-height: 480px">
      <mat-card-content>
        <span>
          <form #departmentAddForm="ngForm">
            <div fxLayout="row wrap" class="align-items-center m-b-15">
              <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex.gt-xs="25" fxFlex="100">
                <h3 class="m-0">
                  <div class="d-flex">
                    <span ngDefaultControl>{{'CreateDepartment' | translate}}</span>
                  </div>

                </h3>
              </div>
              <div fxFlex.gt-md="75" fxFlex.gt-lg="75" fxFlex.gt-xs="75" fxFlex="100" class="text-right">
                <a [routerLink]="['/organization/departments']">
                  <button mat-stroked-button color="warn" class="m-r-10">{{'Cancel' | translate}}</button>
                </a>
                <button mat-raised-button
                        color="primary"
                        [disabled]="departmentAddForm.invalid"
                        (click)="openSaveDialog('Save', department)">{{'Save' | translate}}</button>
              </div>
            </div>

            <hr/>

            <div fxLayout="row wrap" class="align-items-center m-t-30 m-b-15">
              <div fxFlex="100" fxFlex.gt-md="100">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'Name' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'Name' | translate}}"
                         name="name"
                         required
                         [(ngModel)]="department.name"/>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="100">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'Code' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'Code' | translate}}"
                         name="code"
                         required
                         [(ngModel)]="department.code" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="100">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'ParentDeptName' | translate}}</mat-label>
                  <mat-select placeholder="{{'ParentDeptName' | translate}}"
                              name="food"
                              required
                              [disabled]="department.head"
                              [(ngModel)]="department.parentDepartment">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let department of departmentList" [value]="department">
                      {{ department.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-checkbox color="primary"
                              class="m-r-10 m-t-10"
                              (change)="changeHeadValue($event)"
                              [(ngModel)]="department.head"
                >{{'HeadDept' | translate}}
                </mat-checkbox>
                <br/>
              </div>

            </div>
          </form>
        </span>
      </mat-card-content>
    </mat-card>
  </div>


  <div  fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card >
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center m-b-15">
          <div fxFlex.gt-md="50" fxFlex.gt-lg="25" fxFlex.gt-xs="25" fxFlex="100">
            <h3 class="m-0">
              <div class="d-flex">
                <span ngDefaultControl>{{'EmployeesOfDepartment' | translate}}</span>
              </div>

            </h3>
          </div>
          <div fxFlex.gt-md="50" fxFlex.gt-lg="75" fxFlex.gt-xs="75" fxFlex="100" class="text-right">
            <button mat-raised-button color="primary"
                    (click)="openEmployeeAddDialog('Update', department)"
            >{{'ActionEdit' | translate}}</button>
          </div>
        </div>

        <hr/>
        <div class="table-rasponsive">
          <table mat-table matSort [dataSource]="employeeDs" class="table employee-list no-wrap" style="min-height: 292px">

            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 50px"> # </mat-header-cell>
              <mat-cell *matCellDef="let employee" style="max-width: 50px"> {{ employeeDs.data.indexOf(employee) + 1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="personnelNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PersonnelNumber' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ employee.personnelNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 300px"> {{'FirstName' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let employee" style="max-width: 300px"> {{ employee.firstName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'LastName' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ employee.lastName }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="employeeDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: employeeDisplayedColumns"></mat-row>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
