<mat-card>

  <mat-card-content>
    <mat-card-title>{{'Settings' | translate}}</mat-card-title>
    <mat-divider></mat-divider>
    <form class="basic-form">
      <div fxLayout="row wrap">

        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <mat-slide-toggle color="primary"
                        class="m-r-10"
                        [checked]="userSettings.enableChatNotificationSound"
                        (change)="changeChatNotificationSound($event)"
          >{{'Settings_ChatSound' | translate}}
          </mat-slide-toggle>
        </div>

        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <mat-slide-toggle color="primary"
                        class="m-r-10"
                        [checked]="userSettings.miniSidebar"
                        (change)="changeMiniSideBar($event)"
          >{{'Settings_MiniSidebar' | translate}}
          </mat-slide-toggle>
        </div>


        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <mat-slide-toggle color="primary"
                        class="m-r-10"
                        [(ngModel)]="userSettings.darkTheme"
          >{{'Settings_DarkTheme' | translate}}
          </mat-slide-toggle>
        </div>

        <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-10 m-b-10">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-5">
          <mat-label>{{'Settings_ThemeColor' | translate}}</mat-label>
        </div>
        <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-20">

            <mat-radio-group>
              <mat-radio-button color="primary"
                                [checked]="userSettings.themeColor === 10"
                                (change)="changeThemeColor(10)"
                                value="blue"
                                class="m-r-10 text-info">{{'Blue' | translate}}
              </mat-radio-button>

              <mat-radio-button color="primary"
                                [checked]="userSettings.themeColor === 20"
                                (change)="changeThemeColor(20)"
                                value="red"
                                class="m-r-10 text-danger">{{'Red' | translate}}
              </mat-radio-button>

              <mat-radio-button color="primary"
                                [checked]="userSettings.themeColor === 30"
                                (change)="changeThemeColor(30)"
                                value="green"
                                class="m-r-10 text-megna">{{'Green' | translate}}
              </mat-radio-button>

            </mat-radio-group>

        </div>

        <div fxFlex.gt-sm="100" fxFlex="100">
          <button mat-raised-button
                  color="primary"
                  (click)="saveUserSettings()"
          >{{'Settings_SaveBtnCapture' | translate}}
          </button>
        </div>

      </div>
    </form>
  </mat-card-content>

</mat-card>
