<mat-card style="height: 410px">

      <mat-card-content>
        <mat-card-title>{{'Profile info' | translate}}</mat-card-title>

        <form class="basic-form" #profileForm="ngForm">
          <div fxLayout="row wrap">

            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input type="text"
                       required
                       matInput
                       placeholder="{{'Username' | translate}}"
                       name="username"
                       [(ngModel)]="currentUser.username"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input type="text"
                       matInput
                       placeholder="{{'FirstName' | translate}}"
                       name="firstName"
                       [(ngModel)]="currentUser.firstName"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input type="text"
                       matInput
                       placeholder="{{'LastName' | translate}}"
                       name="lastName"
                       [(ngModel)]="currentUser.lastName"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <input type="email"
                       matInput
                       required
                       #emailInput
                       placeholder="{{'Email' | translate}}"
                       name="email"
                       [(ngModel)]="currentUser.email"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex="100">

              <div [ngClass.lt-md]="{'text-center' : true}" [ngClass.gt-md]="{'text-right' : true}">
                <button mat-raised-button
                        color="warn"
                        (click)="refreshData()"
                        style="margin: 5px; width: 100px; height: 40px"
                >
                  {{'Reset' | translate}}
                </button>

                <button mat-raised-button
                        color="primary"
                        [disabled]="profileForm.invalid"
                        (click)="openDialog()"
                        style="margin: 5px; width: 100px; height: 40px"
                >
                  {{'Update' | translate}}
                </button>
              </div>

            </div>

          </div>
        </form>
      </mat-card-content>

</mat-card>
