<mat-progress-bar mode="indeterminate" value="40" *ngIf="refreshing"></mat-progress-bar>
<div class="row wrap">
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card style="min-height: 450px">
      <mat-card-content>
        <span>
          <form #employeeEditForm="ngForm">
            <div fxLayout="row wrap" class="align-items-center m-b-15">

              <div fxFlex.gt-md="25" fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100" [ngClass.xs]="{'text-center' : true}">
                <h3 class="m-0">
                  <div class="d-flex">
                    <span ngDefaultControl>{{'EditEmployee' | translate}}</span>
                  </div>
                </h3>
              </div>

              <div fxFlex.gt-md="75" fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100" [ngClass.xs]="{'text-center' : true}" [ngClass.gt-xs]="{'text-right' : true}">

                <button mat-stroked-button
                        color="warn"
                        (click)="router.navigateByUrl('/organization/employees')"
                        style="margin: 5px"
                >
                  {{'Cancel' | translate}}
                </button>

                <button mat-raised-button
                        color="primary"
                        [disabled]="employeeEditForm.invalid"
                        (click)="openSaveDialog()"
                >
                  {{'Save' | translate}}
                </button>

              </div>
            </div>

            <hr/>

            <div fxLayout="row wrap" class="align-items-center m-t-30 m-b-15">
              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'FirstName' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'FirstName' | translate}}"
                         name="firstName"
                         required
                         [(ngModel)]="employeeToUpdate.firstName"/>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'LastName' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'LastName' | translate}}"
                         name="lastName"
                         required
                         [(ngModel)]="employeeToUpdate.lastName" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'MiddleName' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'MiddleName' | translate}}"
                         name="middleName"
                         [(ngModel)]="employeeToUpdate.middleName" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'PersonnelNumber' | translate}}</mat-label>
                  <input matInput
                         type="number"
                         placeholder="{{'PersonnelNumber' | translate}}"
                         name="personnelNumber"
                         required
                         [(ngModel)]="employeeToUpdate.personnelNumber" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'Email' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'Email' | translate}}"
                         name="email"
                         [(ngModel)]="employeeToUpdate.email" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'PhoneNumber' | translate}}</mat-label>
                  <input matInput
                         mask="+0 (000)-000-00-00"
                         placeholder="{{'PhoneNumber' | translate}}"
                         name="phoneNumber"
                         [(ngModel)]="employeeToUpdate.phoneNumber" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'Salary' | translate}}</mat-label>
                  <input matInput
                         placeholder="{{'Salary' | translate}}"
                         name="salary"
                         [(ngModel)]="employeeToUpdate.salary" />
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'HireDate' | translate}}</mat-label>
                  <input matInput
                         type="date"
                         placeholder="{{'HireDate' | translate}}"
                         name="hireDate"
                         #hireDateInput
                         (change)="updateHireDate($event)"
                         [valueAsDate]="hireDate"/>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'DismissalDate' | translate}}</mat-label>
                  <input matInput
                         type="date"
                         placeholder="{{'DismissalDate' | translate}}"
                         name="hireDate"
                         #dismissalDateInput
                         (change)="updateDismissalDate($event)"
                         [valueAsDate]="dismissalDate"/>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'User' | translate}}</mat-label>
                  <mat-select placeholder="{{'User' | translate}}"
                              name="user"
                              (selectionChange)="openPrefillDialog($event)"
                              [(ngModel)]="employeeToUpdate.user">
                    <mat-option [value]="null">{{'None' | translate}}</mat-option>
                    <mat-option *ngFor="let user of users" [value]="user">
                      {{ user.username }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'Department' | translate}}</mat-label>
                  <mat-select placeholder="{{'Department' | translate}}"
                              name="department"
                              [(ngModel)]="employeeToUpdate.department">
                    <mat-option [value]="null">{{'None' | translate}}</mat-option>
                    <mat-option *ngFor="let department of departments" [value]="department">
                      {{ department.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-md="50">
                <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                  <mat-label>{{'Position' | translate}}</mat-label>
                  <mat-select placeholder="{{'Position' | translate}}"
                              name="position"
                              [(ngModel)]="employeeToUpdate.position">
                    <mat-option [value]="null">{{'None' | translate}}</mat-option>
                    <mat-option *ngFor="let position of positions" [value]="position">
                      {{ position.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </form>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

</div>
