<button [matMenuTriggerFor]="flags" mat-icon-button class="m-r-5">
  <i class="flag-icon flag-icon-{{ selectedLocale.icon }}"> </i>
</button>
<mat-menu #flags="matMenu" class="mymegamenu">
  <button mat-menu-item *ngFor="let locale of locales" (click)="changeLanguage(locale)">
    <i class="flag-icon flag-icon-{{ locale.icon }} m-r-10"></i>
    <span>{{ locale.language }}</span>
  </button>
</mat-menu>

<button [matMenuTriggerFor]="notification" mat-icon-button class="m-r-5">
  <mat-icon>message</mat-icon>
  <div *ngIf="notifications.length > 0" class="notify">
    <span class="heartbit"></span>
    <span class="point"></span>
  </div>
</button>
<mat-menu #notification="matMenu" class="mymegamenu">
  <div class="mailbox">
    <ul>
      <li>
        <div class="drop-title">{{"Notifications" | translate}}</div>
      </li>
      <li>
        <div class="message-center">
          <perfect-scrollbar [config]="config">
            <!-- Message -->
            <a href="javascript:void(0);" *ngFor="let notification of notifications" (click)="deleteNotification(notification)">
                <div class="round {{ getRoundClass(notification) }}">
                  <i class="{{ getIconClass(notification) }}"></i>
                </div>
                <div class="mail-content">
                  <h5>{{ notification.title }}</h5>
                  <span class="mail-desc">{{ notification.message }}</span>
                  <span class="time">{{ notification.createDate | date : "dd.MM.yyyy HH:mm" }}</span>
                </div>
            </a>
          </perfect-scrollbar>
        </div>
      </li>
    </ul>
  </div>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="message" mat-icon-button class="m-r-5">
  <mat-icon>email</mat-icon>
  <div class="notify" *ngIf="newMessages.length > 0">
    <span class="heartbit" ></span>
    <span class="point"></span>
  </div>
</button>
<mat-menu #message="matMenu" class="mymessage">
  <div class="mailbox">
    <ul>
      <li>
        <div class="drop-title">You have {{newMessages.length}} new Messages</div>
      </li>
      <li>
        <div class="message-center">
          <perfect-scrollbar [config]="config">
            <!-- Message -->
            <a href="#" *ngFor="let message of newMessages">
              <div class="user-img">
                <img src="{{ message.useravatar }}" alt="user" class="img-circle" width="40" />
                <span class="profile-status {{ message.status }} pull-right"></span>
              </div>
              <div class="mail-content">
                <h5>{{ message.from }}</h5>
                <span class="mail-desc">{{ message.subject }}</span>
                <span class="time">{{ message.time }}</span>
              </div>
            </a>
            <!-- Message -->
          </perfect-scrollbar>
        </div>
      </li>
    </ul>
  </div>
</mat-menu>
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
  <img [src]="currentUser.profileImage" alt="user" class="profile-pic" />
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
<!--  <button mat-menu-item><mat-icon>settings</mat-icon> Settings</button>-->
  <button mat-menu-item (click)="navigate('/profile')"><mat-icon>account_box</mat-icon> {{'ProfileSettings' | translate}}</button>
<!--  <button mat-menu-item><mat-icon>notifications_off</mat-icon> Disable notifications</button>-->
  <button mat-menu-item (click)="onLogout()"><mat-icon>exit_to_app</mat-icon> {{'SignOut' | translate}}</button>
</mat-menu>
