<p>{{'Calendar.AddEvent' | translate}}</p>
    <mat-card>

      <mat-toolbar class="bg-success no-shadow chat-right-panel" color="warn">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
          <button (click)="chatnav.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <span class="top-avatar m-r-10">
              <img src="{{ recipient.profileImage }}" class="img-circle" />
            </span>
          <div fxFlex>
            <div class="font-14">{{ getUserName(recipient) }}</div>
          </div>
          <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #them="matMenu" x-position="before">
            <button mat-menu-item>Contact info</button>
            <button mat-menu-item>Mute</button>
            <button mat-menu-item>Delete chat</button>
          </mat-menu>
        </div>
      </mat-toolbar>

      <mat-sidenav-container
        class="side-chat-box"
        [ngClass]="{ 'side-panel-opened': sidePanelOpened, 'side-panel-closed': !sidePanelOpened }"
      >

        <mat-sidenav
          #chatnav
          [mode]="isOver() ? 'over' : 'side'"
          [opened]="!isOver()"
          (open)="sidePanelOpened = true"
          (close)="sidePanelOpened = false"
          [perfectScrollbar]="config"
          [disabled]="isOver()"
          class="email-sidebar"
        >
          <mat-nav-list>
            <div *ngFor="let user of users">
              <mat-list-item
                *ngIf="currentUser.id !== user.id"
                (click)="changeChatRoom(user)"
                [ngClass]="{'selected-dark' : isDarkMode && user.id === recipient.id, 'selected-light' : !isDarkMode && user.id === recipient.id}"
              >
                <img mat-list-avatar src="{{ user.profileImage }}" alt="userProfileImage"/>
                <span class="profile-status pull-right"
                      [ngClass]="{'online' : isUserOnline(user), 'offline' : !isUserOnline(user)}"
                ></span>
                  <span style="margin-left: 10px"
                    matBadge="{{getUnreadMessageCount(user)}}"
                    matBadgeOverlap="false"
                    matBadgeHidden="{{getUnreadMessageCount(user) <= 0}}"
                    matBadgeColor="warn"
                    matBadgePosition="above after"
                  >{{ getUserName(user) }}
                  </span>
              </mat-list-item>
            </div>
          </mat-nav-list>
        </mat-sidenav>

          <perfect-scrollbar style="max-width: 100%; max-height: 610px"
                             [config]="config"
                             [scrollIndicators]="true"
                             (psScrollY)="onListScroll()">
            <mat-card-content class="chat-middle-box" style="min-height: 610px">

              <ng-container>
                <div *ngFor="let m of messages">
                  <ng-template [ngIf]="recipient.id !== m.recipientId" [ngIfElse]="evenblock">
                    <div class="chat-list odd" >
                      <div>
                        <div class="chat-block">
                          <img src="{{ recipient.profileImage }}" class="img-circle" width="40"/>{{ m.content}}</div>
                        <span class="chat-date">{{ m.createDate | date }}</span>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #evenblock>
                    <div class="chat-list even">
                      <div class="chat-message">
                        <div class="chat-block bg-light-info">{{ m.content }}</div>
                        <span class="chat-date">{{ m.createDate | date }}</span>
                      </div>
                    </div>
                  </ng-template>

                </div>


              </ng-container>
            </mat-card-content>
        </perfect-scrollbar>


        <mat-card-actions class="chat-footer" *ngIf="isSendButtonVisible()">
          <div fxLayout="row" layout-align="start center">
            <mat-form-field class="mr-1 ml-1" fxFlex>
              <input
                matInput
                [(ngModel)]="chatMessageToSend.content"
                placeholder="{{'SendMessage' | translate }}"
                #messageInput
                (keyup.enter)="sendMessage()"
              />
            </mat-form-field>
            <button mat-fab color="warn" (click)="sendMessage()" [disabled]="!isSendButtonEnabled()">
              <mat-icon>send</mat-icon>
            </button>

          </div>
        </mat-card-actions>
      </mat-sidenav-container>
    </mat-card>
<!--  </div>-->
<!--</div>-->
