.selected-light {
  background: #f2f4f8;
}

.selected-dark {
  background: rgb(63, 65, 77);
}

.side-chat-box {
  border: 1px solid rgba(120, 130, 140, 0.13);
  height: 700px;
}


.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll
}
