<div class="widget-box">

  <mat-card>
    <mat-card-content>
      <mat-card-title>{{'Widgets.MyProductivity' | translate}}</mat-card-title>
      <div fxLayout="row wrap" class="align-items-center m-t-30 m-b-15">

        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-tab-group>
            <mat-tab label="{{'Widgets.Productivity.Tab.Tasks' | translate}}">
              <p>{{'Widgets.Productivity.ChartTasks.Title' | translate}} {{taskTotalCount}}</p>
              <canvas baseChart #tasksChart></canvas>
            </mat-tab>

            <mat-tab label="{{'Widgets.Productivity.Tab.Projects' | translate}}">
              <div>
                <p>{{'Widgets.Productivity.ChartProjects.Title' | translate}} {{taskTotalCount}}</p>
                <canvas baseChart #chart_2></canvas>
              </div>

            </mat-tab>
          </mat-tab-group>

        </div>

      </div>
    </mat-card-content>
  </mat-card>

</div>
