<div
  class="main-container"
  [ngClass]="{
    minisidebar: userSettings.miniSidebar,
    blue: userSettings.themeColor === 10,
    danger: userSettings.themeColor === 20,
    green: userSettings.themeColor === 30,
    dark: userSettings.darkTheme
  }">
<!--  <mat-toolbar [color]="getHeaderColor()" class="topbar relative">-->
  <mat-toolbar class="topbar relative" color="primary">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <b>
            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
            <img src="assets/images/zolloz-logo-2.png" alt="homepage" class="light-logo" />
          </b>
          <span fxShow="false" fxShow.gt-xs>
              <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
              <img src="assets/images/zolloz-logo-text-2.png" class="light-logo" alt="homepage" />
            </span>
        </a>
      </div>

      <button mat-icon-button (click)="snav.toggle()" class="sidebar-toggle" value="sidebarclosed">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-icon-button class="srh-btn" (click)="showSearch = !showSearch">
        <mat-icon>search</mat-icon>
      </button>
      <form class="app-search" [ngClass]="{ 'show-search': showSearch }">
        <input type="text" class="form-control" placeholder="Search &amp; enter" />
        <a class="cl-srh-btn" (click)="showSearch = !showSearch">
          <i class="ti-close"></i>
        </a>
      </form>
      <span fxFlex></span>

      <app-horizontal-header></app-horizontal-header>

    <button (click)="settings.toggle()" mat-icon-button class="ml-xs overflow-visible">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0" [ngClass]="{ minisidebar: minisidebar }">
    <!-- ============================================================== -->
    <!--                        Sidebar                                 -->
    <!-- ============================================================== -->
    <mat-sidenav
      #snav
      id="snav"
      class="pl-xs"
      [mode]="mobileQuery.matches ? 'side' : 'over'"
      fixedTopGap="0"
      [opened]="mobileQuery.matches"
      [disableClose]="mobileQuery.matches"
      (open)="sidebarOpened = true"
      (close)="sidebarOpened = false"
    >
      <perfect-scrollbar class="scbar" [config]="config">

        <app-vertical-sidebar class="app-sidebar" [showClass]="status" (notify)="snav.toggle()"></app-vertical-sidebar>

      </perfect-scrollbar>

    </mat-sidenav>

    <mat-sidenav #settings position="end" class="chat-panel" mode="over" opened="false">
      <div class="scroll">
        <mat-nav-list>
          <h3 mat-subheader class="text-uppercase font-weight-bold">Settings</h3>

          <mat-list-item *ngIf="!horizontal">
            <mat-slide-toggle [(ngModel)]="userSettings.miniSidebar" (change)="changeMiniSidebar()">Mini Sidebar</mat-slide-toggle>
          </mat-list-item>

          <mat-list-item *ngIf="!horizontal">
            <mat-slide-toggle [(ngModel)]="userSettings.darkTheme" (change)="changeDarkMode()">Dark mode</mat-slide-toggle>
          </mat-list-item>

          <mat-divider></mat-divider>

          <h3 mat-subheader class="text-uppercase font-weight-bold">Colors</h3>

          <mat-radio-group>
            <mat-list-item>
            <mat-radio-button color="primary"
                              [checked]="userSettings.themeColor === 10"
                              (change)="applySettings(10)"
                              value="blue"
                              class="m-r-10 text-info">Blue
            </mat-radio-button>
            </mat-list-item>
            <mat-list-item>
            <mat-radio-button color="primary"
                              [checked]="userSettings.themeColor === 20"
                              (change)="applySettings(20)"
                              value="red"
                              class="m-r-10 text-danger">Red
            </mat-radio-button>
            </mat-list-item>
            <mat-list-item>
            <mat-radio-button color="primary"
                              [checked]="userSettings.themeColor === 30"
                              (change)="applySettings(30)"
                              value="green"
                              class="m-r-10 text-megna">Green
            </mat-radio-button>
            </mat-list-item>
          </mat-radio-group>

        </mat-nav-list>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!--                       Page container                           -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="page-wrapper" [ngClass]="status ? 'minitoggle' : ''">
      <app-breadcrumb></app-breadcrumb>
      <div class="page-container">
        <div class="page-content">
          <router-outlet>
            <app-spinner></app-spinner>
          </router-outlet>
        </div>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>




</div>

