<mat-card class="oh text-center little-profile" style="height: 400px">
  <img
    mat-card-image
    src="assets/images/background/user-info-background.jpg"
    class="profile-bg-height"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <div class="pro-img">
      <img [src]="currentUser?.profileImage" width="100" alt="user" />
    </div>
    <h3 class="m-b-0">{{userInfo.fullName}}</h3>
    <h6 class="m-t-0 text-muted">{{userInfo.position}}</h6>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onChangePhotoBtnClick()">Change photo</button>
      <button mat-button color="warn">Delete</button>

    </mat-card-actions>
    <button mat-raised-button color="warn" class="m-l-15 input-file-button">
      <input type="file" (change)="onChangeImage($event)" #fileInput id="fileInput" style="display:none"/>
    </button>
  </mat-card-content>
</mat-card>
