@import "../../../app.component";

.overdue {
  color: red;
}

.taskboard-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  padding: 8px 8px 0;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

//tr.example-element-row:not(.example-expanded-row):hover {
//  background: whitesmoke;
//}
//
//tr.example-element-row:not(.example-expanded-row):active {
//  background: #efefef;
//}

.example-element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: auto;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.truncate-cell {
  max-width: 1000px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hint {
  cursor: pointer;
}
