<div fxLayout="row wrap">

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-info text-center cursor-pointer" (click)="btnCategoryClick('')">
        <h1 class="font-light text-white m-0">{{ totalCount }}</h1>
        <h6 class="text-white m-0">{{'TotalTasks' | translate}}</h6>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div
        class="box p-20 bg-success text-center cursor-pointer" (click)="btnCategoryClick(LOW)">
        <h1 class="font-light text-white m-0">{{ lowPriority }}</h1>
        <h6 class="text-white m-0">{{'Tasks.Priority.Low' | translate}}</h6>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div
        class="box p-20 bg-warning text-center cursor-pointer" (click)="btnCategoryClick(MEDIUM)">
        <h1 class="font-light text-white m-0">{{ mediumPriority }}</h1>
        <h6 class="text-white m-0">{{'Tasks.Priority.Middle' | translate}}</h6>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div
        class="box p-20 bg-danger text-center cursor-pointer" (click)="btnCategoryClick(HIGH)">
        <h1 class="font-light text-white m-0">{{ highPriority }}</h1>
        <h6 class="text-white m-0">{{'Tasks.Priority.High' | translate}}</h6>
      </div>
    </mat-card>
  </div>

</div>

<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
            <mat-form-field>
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Tasks.Search' | translate}}"
              />
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button mat-raised-button
                    *ngIf="isActionPermit(CREATE_ACTION)"
                    color="primary"
                    (click)="openAddDialog(null)">
              {{'Tasks.CreateTask' | translate}}
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(EDIT_ACTION)"
                    color="accent"
                    style="margin-left: 10px"
                    (click)="openEditDialog(clickedRow)"
                    [disabled]="!clickedRow">
              <i class="fa fa-pencil"></i>
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(DELETE_ACTION)"
                    color="warn"
                    style="margin-left: 10px"
                    (click)="openDeleteDialog(clickedRow)"
                    [disabled]="!clickedRow">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table matSort [dataSource]="dataSource" class="table ticket-list no-wrap">

            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef >{{'Number' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.number}}
              </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef>{{'State' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.state | translate}}
              </td>
            </ng-container>

            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef>{{'Priority' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{ getPriority(element.priority) | translate }}
              </td>
            </ng-container>

            <ng-container matColumnDef="dueDate">
              <th mat-header-cell *matHeaderCellDef>{{'DueDate' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.executionDatePlan | date : 'dd.MM.yyyy HH:mm' }}
              </td>
            </ng-container>


            <ng-container matColumnDef="executionDateFact">
              <th mat-header-cell *matHeaderCellDef>{{'ExecutionDateFact' | translate}}</th>
              <td mat-cell *matCellDef="let element" [ngClass]="{'overdue' : element.overdue}">
                {{ element.executionDateFact | date : 'dd.MM.yyyy HH:mm' }}
              </td>
            </ng-container>


            <ng-container matColumnDef="initiator">
              <th mat-header-cell *matHeaderCellDef>{{'Initiator' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.initiator?.username }}
              </td>
            </ng-container>

            <ng-container matColumnDef="executor">
              <th mat-header-cell *matHeaderCellDef>{{'Executor' | translate}}</th>
              <td mat-cell *matCellDef="let element">
                {{ getMaxTextLength(element.executor?.username, 30) }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row
                (mouseenter)="onEnterRow(row)"
                (mouseleave)="onLeaveRow()"
                (click)="onClickRow(row)"
                (dblclick)="openEditDialog(row)"
                [ngClass]="{
                        'highlight-selected-dark' : row.id === clickedRow?.id && isDarkMode,
                        'highlight-selected' : row.id === clickedRow?.id && !isDarkMode,
                        'highlight-mouse-on-dark' : row.id === selectedRow?.id && isDarkMode,
                        'highlight-mouse-on' : row.id === selectedRow?.id && !isDarkMode
                        }"
                *matRowDef="let row; columns: columnsToDisplay; let entry">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
