<div fxLayout="row wrap" *ngIf="!isWidget">

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-info text-center cursor-pointer" (click)="filterByPriority(ALL, true)">
        <h1 class="font-light text-white m-0">{{ totalCount }}</h1>
        <h6 class="text-white m-0">{{'TotalTasks' | translate}}</h6>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-success text-center cursor-pointer" (click)="filterByPriority(LOW, true)">
        <h1 class="font-light text-white m-0">{{ lowPriority }}</h1>
        <h6 class="text-white m-0">{{'Tasks.Priority.Low' | translate}}</h6>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-warning text-center cursor-pointer" (click)="filterByPriority(MEDIUM, true)">
        <h1 class="font-light text-white m-0">{{ mediumPriority }}</h1>
        <h6 class="text-white m-0">{{'Tasks.Priority.Middle' | translate}}</h6>
      </div>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div class="box p-20 bg-danger text-center cursor-pointer" (click)="filterByPriority(HIGH, true)">
        <h1 class="font-light text-white m-0">{{ highPriority }}</h1>
        <h6 class="text-white m-0">{{'Tasks.Priority.High' | translate}}</h6>
      </div>
    </mat-card>
  </div>

</div>

<div fxLayout="row wrap" *ngIf="!isWidget">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex.gt-xs="25" fxFlex="100" [ngClass.xs]="{'text-center' : true}">
            <mat-form-field>
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="{{'Tasks.Search' | translate}}"
              />
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" fxFlex.gt-lg="75" fxFlex.gt-xs="75" fxFlex="100" [ngClass.xs]="{'text-center' : true}" [ngClass.gt-xs]="{'text-right' : true}">
            <button mat-raised-button
                    *ngIf="isActionPermit(CREATE_ACTION)"
                    color="primary"
                    style="margin: 5px"
                    (click)="openAddDialog(null)">
              <i class="fa fa-plus"></i>
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(EDIT_ACTION)"
                    color="accent"
                    style="margin: 5px"
                    (click)="openEditDialog(clickedRow)"
                    [disabled]="!clickedRow">
              <i class="fa fa-pencil"></i>
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(DELETE_ACTION)"
                    color="warn"
                    style="margin: 5px"
                    (click)="openDeleteDialog(clickedRow)"
                    [disabled]="!clickedRow">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<mat-card>
  <mat-card-content>
    <mat-card-title *ngIf="isWidget">{{'Tasks.MyActiveTasks' | translate}}</mat-card-title>
    <div class="table-responsive">
      <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8 table ticket-list no-wrap">

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Number' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.number}}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'State' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.state | translate}}
          </td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Priority' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{ getPriority(element.priority) | translate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef>{{'Project' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{element.project?.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef>{{'DueDate' | translate}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'overdue' : element.overdue}">
            {{ element.executionDatePlan | date : 'dd.MM.yyyy HH:mm' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="executionDateFact">
          <th mat-header-cell *matHeaderCellDef>{{'ExecutionDateFact' | translate}}</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'overdue' : element.overdue}">
            {{ element.executionDateFact | date : 'dd.MM.yyyy HH:mm' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="initiator">
          <th mat-header-cell *matHeaderCellDef>{{'Initiator' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.initiator?.username }}
          </td>
        </ng-container>

        <ng-container matColumnDef="executor" *ngIf="!isWidget">
          <th mat-header-cell *matHeaderCellDef>{{'Executor' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{ getMaxTextLength(element.executor?.username, 30) }}
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div
              class="element-detail"
              [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
            >
              <!--              <div class="truncate-cell">{{getMaxTextLength(element.description, 50)}}</div>-->
              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <div class="element-description">
                    {{'Description' | translate}}
                    <span class="element-description-attribution"> - {{getMaxTextLength(element.description, 150)}} </span>
                  </div>
                </div>
                <div fxFlex="100">
                  <div class="element-description">
                    {{'Comment' | translate}}
                    <span class="element-description-attribution"> - {{getMaxTextLength(element.comment, 150)}} </span>
                  </div>
                </div>
              </div>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element"
          (mouseenter)="onEnterRow(element)"
          (mouseleave)="onLeaveRow()"
          (dblclick)="openEditDialog(element)"
          (click)="onClickRow(element)"
          [ngClass]="{
                  'highlight-selected-dark' : element.id === clickedRow?.id && isDarkMode,
                  'highlight-selected' : element.id === clickedRow?.id && !isDarkMode,
                  'highlight-mouse-on-dark' : element.id === selectedRow?.id && isDarkMode,
                  'highlight-mouse-on' : element.id === selectedRow?.id && !isDarkMode
                  }"

        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
      <mat-paginator *ngIf="!isWidget" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      <mat-paginator *ngIf="isWidget" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>







