.highlight-mouse-on {
  background-color: lightcyan;
}

.highlight-mouse-on-dark {
  background-color: rgb(76, 78, 94);
}

.highlight-selected {
  background-color: lavenderblush;
}


.highlight-selected-dark {
  background-color: rgb(63, 65, 77);
}
