<mat-progress-bar mode="indeterminate" value="40" *ngIf="refreshing"></mat-progress-bar>
<div fxLayout="row wrap" >
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex.gt-xs="25" fxFlex="50">
            <mat-form-field>
              <input matInput
                     placeholder="{{'SearchDepartment' | translate}}"
                     (keyup)="applyFilter($event.target.value)"
              />
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" fxFlex.gt-lg="75" fxFlex.gt-xs="75" fxFlex="50" class="text-right">
            <a  [routerLink]="['/organization/departments/add']"
                *ngIf="isActionPermit(CREATE_ACTION)"
                class="m-r-10 cursor-pointer">
              <button mat-raised-button
                      color="primary">
                {{'AddDepartment' | translate}}
              </button>
            </a>

            <button mat-raised-button
                    *ngIf="isActionPermit(EDIT_ACTION)"
                    (click)="router.navigateByUrl('/organization/departments/edit/' + clickedRow.id)"
                    color="accent"
                    style="margin-left: 10px"
                    [disabled]="!clickedRow">
              <i class="fa fa-pencil"></i>
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(DELETE_ACTION)"
                    (click)="openDeleteDialog(clickedRow)"
                    color="warn"
                    style="margin-left: 10px"
                    [disabled]="!clickedRow">
              <i class="fas fa-trash"></i>
            </button>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table matSort [dataSource]="dataSource" class="table employee-list no-wrap">

            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell class="data" *matCellDef="let department" >{{entities.indexOf(department) + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</th>
              <td mat-cell *matCellDef="let department" class="action-link data">{{department.name}}</td>
            </ng-container>

            <ng-container matColumnDef="parentDept">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ParentDeptName' | translate}}</th>
              <td mat-cell *matCellDef="let department" class="action-link data">{{department.parentDepartment?.name}}</td>
            </ng-container>

            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef class="wide" mat-sort-header>{{'Code' | translate}}</th>
              <td mat-cell *matCellDef="let department" class="action-link data wide">{{department.code}}</td>
            </ng-container>

            <ng-container matColumnDef="head">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HeadDept' | translate}}</th>
              <td mat-cell *matCellDef="let department" class="action-link data wide">
                <mat-checkbox color="primary"
                              class="m-l-10"
                              disabled
                              [(ngModel)]="department.head"
                >
                </mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay" class="example-detail-row"
                (dblclick)="openEditorByUrl('/organization/departments/edit/' + clickedRow.id)"
                (mouseenter)="onEnterRow(row)"
                (mouseleave)="onLeaveRow()"
                (click)="onClickRow(row)"
                [ngClass]="{
                        'highlight-selected-dark' : row.id === clickedRow?.id && isDarkMode,
                        'highlight-selected' : row.id === clickedRow?.id && !isDarkMode,
                        'highlight-mouse-on-dark' : row.id === selectedRow?.id && isDarkMode,
                        'highlight-mouse-on' : row.id === selectedRow?.id && !isDarkMode
                        }"
            ></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
