.participants-list {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 15px !important;
  }

  .d-flex {
    align-items: center;
  }
}

.paginator-bottom {
  display: flex;
  justify-content: left;
}
