<mat-progress-bar mode="indeterminate" value="40" *ngIf="refreshing"></mat-progress-bar>
<div fxLayout="row wrap">

  <div fxFlex="50" fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-content>

        <div fxLayout="row wrap" class="align-items-center">

          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex.gt-xs="50" fxFlex="100">
            <mat-form-field>
              <input matInput
                     placeholder="{{'SearchPosition' | translate}}"
                     (keyup)="applyFilter($event.target.value)"
              />
            </mat-form-field>
          </div>

          <div fxFlex.gt-md="75" fxFlex.gt-lg="75" fxFlex.gt-xs="50" fxFlex="100"
               [ngClass.xs]="{'text-center' : true}"
               [ngClass.gt-xs]="{'text-center' : true}"
               [ngClass.gt-sm]="{'text-right' : true}">

            <button mat-raised-button
                    *ngIf="isActionPermit(CREATE_ACTION)"
                    (click)="openPositionAddDialog()"
                    color="primary"
                    style="margin: 5px"
            >
              <i class="fa fa-plus"></i>
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(EDIT_ACTION)"
                    (click)="openPositionEditDialog(clickedRow)"
                    color="accent"
                    style="margin: 5px"
                    [disabled]="!clickedRow">
              <i class="fa fa-pencil"></i>
            </button>

            <button mat-raised-button
                    *ngIf="isActionPermit(DELETE_ACTION)"
                    (click)="openDeleteDialog(clickedRow)"
                    color="warn"
                    style="margin: 5px"
                    [disabled]="!clickedRow">
              <i class="fas fa-trash"></i>
            </button>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="50" fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="50" fxFlex="50" fxShow="false" fxShow.gt-md>
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">

          <div fxFlex.gt-md="50" fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="100">
            <h3 class="m-0">
              <div class="d-flex">
                <span ngDefaultControl>{{'EmployeesOfPosition' | translate}} {{clickedRow?.name !== null ? ' ' + clickedRow?.name : ''}}</span>
              </div>
            </h3>
          </div>

          <div fxFlex.gt-md="50" fxFlex.gt-lg="50" fxFlex.gt-xs="50" fxFlex="50" class="text-right">
            <mat-form-field>
              <input matInput
                     placeholder="{{'SearchEmployee' | translate}}"
                     (keyup)="applyEmployeeFilter($event.target.value)"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


</div>

<div fxLayout="row wrap">

  <div  fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card >
      <mat-card-content>
        <div class="table-rasponsive">
          <table mat-table matSort [dataSource]="dataSource" class="table employee-list no-wrap" style="height: 500px">

            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ dataSource.data.indexOf(employee) + 1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let position"> {{ position.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'Code' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let position"> {{ position.code }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay"
                            (dblclick)="openPositionEditDialog(clickedRow)"
                            (mouseenter)="onEnterRow(row)"
                            (mouseleave)="onLeaveRow()"
                            (click)="onClickRow(row)"
                            [ngClass]="{
                                    'highlight-selected-dark' : row.id === clickedRow?.id && isDarkMode,
                                    'highlight-selected' : row.id === clickedRow?.id && !isDarkMode,
                                    'highlight-mouse-on-dark' : row.id === selectedRow?.id && isDarkMode,
                                    'highlight-mouse-on' : row.id === selectedRow?.id && !isDarkMode
                                    }"
            ></mat-row>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div  fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card >
      <mat-card-content>
        <div class="table-rasponsive">
          <table mat-table matSort [dataSource]="employeeDs" class="table employee-list no-wrap" style="height: 500px">

            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ employeeDs.data.indexOf(employee) + 1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="personnelNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PersonnelNumber' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ employee.personnelNumber}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'FirstName' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ employee.firstName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{'LastName' | translate}} </mat-header-cell>
              <mat-cell *matCellDef="let employee"> {{ employee.lastName }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="employeeDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: employeeDisplayedColumns"></mat-row>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
