<h2 class="font-medium" mat-dialog-title><strong>{{action | translate}}</strong></h2>

<mat-dialog-content>
  <form #userForm="ngForm">
    <div fxLayout="row wrap" class="align-items-center">
      <div class="m-r-15 m-l-15" style="{{inputWidth}}">
        <mat-form-field>

          <input type="text"
                 matInput
                 required
                 id="name"
                 name="name"
                 [(ngModel)]="local_data.name"
                 placeholder="{{'Name' | translate}}"/>
        </mat-form-field>
      </div>
      <div class="m-r-15 m-l-15" style="width: 600px">
        <mat-form-field >
          <input type="text"
                 matInput
                 required
                 id="code"
                 name="code"
                 [(ngModel)]="local_data.code"
                 placeholder="{{'Code' | translate}}"/>
        </mat-form-field>
      </div>
    </div>

    <div class="text-right">
      <button mat-button
              (click)="closeDialog()"
              color="warn"
              style="margin: 5px"
      >
        {{'Cancel' | translate}}
      </button>

      <button mat-button
              (click)="doAction()"
              mat-flat-button
              color="primary"
              [disabled]="!userForm.valid"
              style="margin: 5px"
      >
        {{action | translate}}
      </button>
    </div>

  </form>
</mat-dialog-content>
