<div
  class="login-register"
  style="background-image: url(assets/images/background/login-background-4.jpg)"
>
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm.value)">
          <div class="text-center">
            <img alt="homepage" src="assets/images/icon/zolloz-logo.png" width="270" height="100"/>
          </div>
          <div fxLayout="row wrap">

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput
                       placeholder="Username"
                       type="email"
                       [formControl]="registerForm.controls['username']"/>
              </mat-form-field>
              <small
                *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched"
                class="text-danger support-text">Username is required.
              </small>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput
                       placeholder="Email address"
                       type="email"
                       [formControl]="registerForm.controls['email']"/>
              </mat-form-field>
              <small
                *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched"
                class="text-danger support-text">Email address is required.
              </small>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput
                       type="password"
                       placeholder="Password"
                       [(ngModel)] = "password"
                       (ngModelChange)="isPasswordMatches()"
                       [formControl]="registerForm.controls['password']"/>
              </mat-form-field>
              <small
                *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched"
                class="text-danger support-text">Password is required.
              </small>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput
                       placeholder="Confirm Password"
                       [formControl]="registerForm.controls['confirmPassword']"
                       [(ngModel)]="confirmPassword"
                       (ngModelChange)="isPasswordMatches()"
                       type="password"/>
              </mat-form-field>
              <small *ngIf="registerForm.controls['confirmPassword'].hasError('required') && registerForm.controls['confirmPassword'].touched"
                class="text-danger support-text">
                Confirm password is required.
              </small>
              <small *ngIf="!passwordMatches && registerForm.controls['confirmPassword'].touched"
                     class="text-danger support-text">
                Passwords should match.
              </small>
            </div>
            <button
              mat-raised-button
              color="primary"
              class="btn-block btn-lg m-t-20 m-b-20"
              type="submit"
              [disabled]="!registerForm.valid">
              <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
              <span *ngIf="showLoading">Loading...</span>
              <span *ngIf="!showLoading"> Create your account</span>

            </button>

            <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>Already have an account?
                <a [routerLink]="['/login']" class="link text-info"> Login</a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
