<h2 class="font-medium" mat-dialog-title><strong>{{'Confirmation' | translate}}</strong></h2>
<mat-dialog-content class="pb-3">
  <div class="danger dark">
    <p>{{'EmployeeSaveMsg' | translate}} {{data.username}} ?</p>

    <div class="text-right">
      <button mat-raised-button
              class="m-r-10"
              (click)="closeDialog()"
              color="warn">{{'Cancel' | translate}}</button>
      <button mat-raised-button
              class="m-r-10"
              (click)="doAction()"
              color="primary">{{'Save' | translate}}</button>
    </div>
  </div>
</mat-dialog-content>
