<h4 class="m-t-0 p-l-5">{{'Name' | translate}}</h4>

<div class="event-dialog-wrapper">
  <div mat-dialog-content class="p-16 m-0">
    <form name="eventForm" [formGroup]="eventForm" class="event-form" fxFlex>
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <mat-form-field class="full-width">
            <input matInput name="title" formControlName="title" placeholder="Add Title" required />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100" formGroupName="color">
          <mat-form-field fxFlex>
            <input
              matInput
              placeholder="Change Color"
              type="color"
              formControlName="primary"
              (colorPickerChange)="
                eventForm.patchValue({ color: { primary: event.color.primary } })
              "
            />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100">

          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="startDate"
                   placeholder="{{'Calendar.StartDate' | translate}}"
                   [formControl]="startDateForm"
                   [min]="minDate" [max]="maxDate"
                   [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="startDate">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startDate
                                     [showSpinners]="showSpinners"
                                     [showSeconds]="showSeconds"
                                     [stepHour]="stepHour" [stepMinute]="stepMinute"
                                     [stepSecond]="stepSecond"
                                     [touchUi]="touchUi"
                                     [color]="color">
            </ngx-mat-datetime-picker>
          </mat-form-field>

          <span fxFlex="16px"></span>

          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="endDate"
                   placeholder="{{'Calendar.EndDate' | translate}}"
                   [formControl]="endDateForm"
                   [min]="minDate" [max]="maxDate"
                   [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="endDate">
            </mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endDate
                                     [showSpinners]="showSpinners"
                                     [showSeconds]="showSeconds"
                                     [stepHour]="stepHour" [stepMinute]="stepMinute"
                                     [stepSecond]="stepSecond"
                                     [touchUi]="touchUi"
                                     [color]="color">
            </ngx-mat-datetime-picker>
          </mat-form-field>


        </div>

        <button
          mat-raised-button
          color="primary"
          (click)="dialogRef.close({ action: 'save', event: eventForm.value })"
          [disabled]="eventForm.invalid"
          aria-label="SAVE"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
