.calendar-box {
  //width: 500px;
  //height: 900px;
  //
  //color: rgba(0, 0, 0, 0.87);
  cursor: move;
  //display: inline-flex;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //border-radius: 4px;
  //position: relative;
  //z-index: 1;
  //margin-top: -100px;
  //box-sizing: border-box;
  //padding: -20px;
  //background-color: transparent;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.boundary {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.widgets {
    min-height: 150px;
    background: transparent;
    overflow: hidden;
    display: block;
}

