<div fxLayout="row wrap">
  <mat-card-content>
    <span>
      <div fxLayout="row wrap" class="align-items-center m-b-15">

        <div fxFlex="100" [ngClass.xs]="{'text-center' : true}">
          <h3 class="m-0">
            <p *ngIf="local_data.isEmployeeDsChecked; else else_message">{{'DepartmentSaveMsg' | translate}}
              <b>{{local_data.name}}</b> ?</p>
          </h3>
        </div>
        <div fxFlex="100" [ngClass.xs]="{'text-center' : true}" [ngClass.gt-xs]="{'text-right' : true}">

          <button mat-button
                  (click)="closeDialog()"
                  mat-flat-button color="warn"
                  style="margin: 5px"
          >
            {{'Cancel' | translate}}
          </button>

          <button mat-button
                  (click)="doAction()"
                  mat-flat-button
                  style="margin: 5px"
                  color="primary"
          >
            {{action | translate}}
          </button>
        </div>
      </div>
    </span>
  </mat-card-content>
</div>

<ng-template #else_message>
  <p>{{'EmployeeInOtherDepartmentMsg' | translate}} </p>
</ng-template>
